body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.seccion1 {
    background-image: url(./imagenes/Central/imagenCentral.png);
    background-repeat: none;
    background-size: cover;
    width: 100%;
    height: 450px;
}

.seccion1 {
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    width: 50%;
}

.seccion1 p {
    color: #fff;
    padding: 10px 500px;
    justify-content: center;
    
}

.seccion1 a {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
    opacity: 50%;
}

.seccion1 a:hover {
    opacity: 100%;
    transition: 1s;
}

.calidad {
    background-color: #2b2b2b;
    height: 350px;
}

.calidad h2 {
    color: #fff;
    text-align: center;
    padding: 10px;
}

.cardsCalidad {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 350px;
    color: white;
}

.cardsCalidad div {
    width: 200px;
    height: 250px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
}

.seccionProductos {
    background-color: #000;
    color: #fff;
    padding: 150px;
}

.seccionProductos div a {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
    opacity: 50%;
}

.seccionProductos a:hover {
    opacity: 100%;
    transition: 1s;
}

.seccionQS {
    background-color: #2b2b2b;
    color: #fff;
    /* height: 350px; */
    padding: 150px;
    display: flex;
    flex-direction: column;
}

footer {
    background: #000;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: end;
}

footer p {
    color: white;
    
}